{% extends 'base.html.twig' %}

{% block title %}PopulationsType{% endblock %}

{% block body %}
    <h1>PopulationsType</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ populations_type.id }}</td>
            </tr>
            <tr>
                <th>Population_type_name</th>
                <td>{{ populations_type.populationTypeName }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('admin_populations_type_index') }}">back to list</a>

    <a href="{{ path('admin_populations_type_edit', {'id': populations_type.id}) }}">edit</a>

    {{ include('admin/populations_type/_delete_form.html.twig') }}
{% endblock %}
