{% extends 'base1.html.twig' %}

{% block title %}Fiche séance{% endblock %}

{% block body %}
<main>
    <div class="tool">
        <h1>Fiche séance</h1>
        <div class="tool">
            <div class="container">
                <fielset>
                    <h2>{{ tool.toolTitle }}</h2>
                    <div class="divider"></div>
                    <div class="row">
                        <div class="col s4">
                            <h5>Mon ou mes partenaire(s):</h5>
                        </div>
                        <div class="input-field col s4">
                        {% set affich = null %}
                        {% for animals in tool.animalcategory %}
                        {% if affich is null %}
                            {% set affich = animals.animalcategoryname %}  
                        {% else %}
                            {% set affich = affich ~ " / " ~ animals.animalcategoryname %}
                        {% endif %}
                        {% endfor %}
                    <p>{{ affich }}</p>
                        </div>
                    </div>
                    <div class="divider"></div>
                    <div class="row">
                        <div class="col s3">
                            <h5>Public ciblé:</h5>
                        </div>
                        <div class="col s3">
                        {% set affich = null %}
                        {% for publictype in tool.populationtype %}
                        {% if affich is null %}
                            {% set affich = publictype.populationtypename %}
                        {% else %}
                            {% set affich = affich ~ " / " ~ publictype.populationtypename %}
                        {% endif %}
                        {% endfor %}
                    <p>{{ affich }}</p>
                        </div>
                    </div>
                    <div class="divider"></div>
                    <h5>Document pdf ou photo présentant la création</h5>
                    <div class="row">
                        <div class="col s12">
                            {% if '.pdf' in tools.documenttool %}
                            <a href="{{ asset('/uploads/tools/'~ tool.documenttool) }}" target="_blank">lien pour
                                visualiser pdf</a>
                            {% else %}
                            <img src="{{ asset('/uploads/tools/' ~ tool.documenttool) }}" alt="" width="80">
                            {% endif %}
                        </div>
                        <div class="col s12">
                            <h5>Objectif possible de séance</h5>
                            {{ tool.toolcontent4|raw }}
                        </div>
                        <div class="col s12">
                            <h5>Matériel nécessaire pour la réalisation</h5>
                            {{ tool.toolcontent|raw }}
                        </div>
                        <div class="col s12">
                            <h5>Tuto étape par étapes</h5>
                            {{ tool.toolcontent5|raw }}
                        </div>
                    </div>
                    <div class="col s12">

                        {% for image in tool.picturesTools %}
                        <img src="{{ asset('/uploads/tools/'~image.picturetoolname) }}" alt="" width="150">
                        {% endfor %}
                    </div>
                    <div class="divider"></div>
                    <div class="row">
                        <div class="col s4">
                            <h6>Auteur</h6>
                            {{ tool.toolAuthor }}
                        </div>
                        <div class="col s4">
                            <h6>Date de publication</h6>
                            {{ tool.toolPublicationDate|date('Y-m-d') }}
                        </div>

                        <div class="col s4"><a href="{{ path('tools_creation_data', {'id': tool.id }) }}">
                                <div class="btn green lighten-3">Visualiser le doc</div>
                            </a></div>
                    </div>


                </fielset>
            </div>

            <div class="confirm1">
                <a href="{{ path('member_tools_index') }}">
                    <div class="btn blue-grey return"><img src="{{ asset('/uploads/icone/fleche_retour.png') }}"
                            alt="fleche retour"></div>
                </a>

                <a href="{{ path('member_tools_creation_edit', {'id': tool.id}) }}"><button class="btn teal lighten-1"><i
                            class="fas fa-edit"></i></button></a>

                {{ include('member/tools/_delete_form.html.twig') }}
            </div>
        </div>
    </div>
</main>
{% endblock %}