{{ form_start(form) }}
<fieldset>
    <div class="input-field">
        {{ form_label(form.tool_title) }}
        {{ form_widget(form.tool_title) }}
    </div>
    {# <div class="divider"></div>
    <div class="row">
        <div class="col s3">
            <h5>Type de séance:</h5>
        </div>
        <div class="input-field col s4">
            {{ form_row(form.category_tool) }}
        </div>
        <div class="input-field col s4">
            {{ form_row(form.size_group) }}
        </div>
    </div> #}
    <div class="divider"></div>
    <div class="row">
        <div class="col s3">
            <h5>Public ciblé :</h5>
        </div>
        <div class="input-field col s4">
            {{ form_row(form.population_type) }}
        </div>
        {# <div class="input-field col s4">
            {{ form_row(form.populations) }}
        </div> #}
    </div>
    <div class="divider"></div>
    <h6>Document pdf ou photo de la création</h6>
    <div class="file-field input-field">
        <div class="btn">
            {{ form_label(form.document_tool) }}
            {{ form_widget(form.document_tool) }}
        </div>
        <div class="file-path-wrapper">
            <input class="file-path validate" type="text" placeholder="Upload file" />
        </div>
    </div>
    {# Si la route est "annonces_edit on affiche les images #}
    {# {% if app.request.attributes.get('_route') == 'admin_tools_creation_edit' %}
    <h2>Images</h2>
    <div>
        <img src="{{ asset('/uploads/tools/'~image.documenttool) }}" alt="" width="150">
    </div>
    {% endif %} #}
    <div class="input-field">
        {{ form_row(form.tool_content4) }}
    </div>
    <div class="input-field">
        {{ form_row(form.tool_content) }}
    </div>
    <div class="input-field">
        {{ form_row(form.tool_content5) }}
    </div>
    <div class="file-field input-field">
        <div class="btn">
            {{ form_label(form.picturesTools) }}
            {{ form_widget(form.picturesTools) }}
        </div>
        <div class="file-path-wrapper">
            <input class="file-path validate" type="text" placeholder="Upload file" />
        </div>
    </div>
    {# Si la route est "annonces_edit on affiche les images #}
    {% if app.request.attributes.get('_route') == 'member_tools_creation_edit' %}
    <h2>Images</h2>
    {% for image in tool.picturesTools %}
    <div>
        <img src="{{ asset('/uploads/tools/'~image.picturetoolname) }}" alt="" width="150">

        {# On ajoute un lien permettant de supprimer une image (sera géré en Ajax) #}
        <a href="{{ path('member_tools_creation_delete_image', {id: image.id})}}" data-delete
            data-token="{{ csrf_token('delete' ~ image.id )}}">Supprimer</a>
    </div>
    {% endfor %}
    {% endif %}
    <div class="input-field">
        {{ form_label(form.tool_author) }}
        {{ form_widget(form.tool_author) }}
    </div>
</fieldset>
<div class="confirm1">
    <a href="{{ path('member_tools_index') }}">
        <p>Retour à la liste</p>
        <div class="btn blue-grey return"><img src="{{ asset('/uploads/icone/fleche_retour.png') }}"
                alt="fleche retour"></div>
    </a>

    <a href="">
        <p>Enregistrer les modifications</p><button class="btn teal lighten-1"><img
                src="{{ asset('/uploads/icone/save1.png') }}" alt=""></button>
    </a>

    {{ form_end(form) }}