{% extends 'admin.html.twig' %}

{% block title %}Categories d'animaux{% endblock %}

{% block body %}
<div class="container">
    <h1>Categories d'animaux</h1>

    <a href="{{ path('admin_animals_categories_new') }}">Créer un nouvelle catégorie</a>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom de la catégorie</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
            {% for animals_category in animals_categories %}
            <tr>
                <td>{{ animals_category.id }}</td>
                <td>{{ animals_category.animalCategoryName }}</td>
                <td class="confirm">
                  
        
                    <a
                    href="{{ path('admin_animals_categories_edit', {'id': animals_category.id}) }}"><button class="btn teal lighten-1"><i class="fas fa-edit"></i></button>
                {{ include('admin/animals_categories/_delete_form.html.twig') }}
                            
                </td>
            </tr>
            {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

</div>
{% endblock %}