{% extends 'admin.html.twig' %}

{% block title %}Categories d'animaux{% endblock %}

{% block body %}
<div class="container">
    <h1>Categories d'animaux</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom de la catégorie</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for animals_category in animals_categories %}
            <tr>
                <td>{{ animals_category.id }}</td>
                <td>{{ animals_category.animalCategoryName }}</td>
                <td>
                    <a href="{{ path('admin_animals_categories_show', {'id': animals_category.id}) }}">Voir</a>
                    <a href="{{ path('admin_animals_categories_edit', {'id': animals_category.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('admin_animals_categories_new') }}">Créer un nouvelle catégorie</a>
</div>
{% endblock %}
