{{ form_start(form) }}
<div class="input-field">
	{{ form_label(form.population_name) }}
	{{ form_widget(form.population_name) }}
</div>
<button class="btn">{{ button_label|default('Enregistrer') }}</button>
{{ form_end(form) }}
