{% extends 'admin.html.twig' %}

{% block title %}Population
{% endblock %}

{% block body %}
	<div class="container">
		<h1>Type de public</h1>
		<a href="{{ path('admin_populations_new') }}">Rentrer un nouveau public</a>

		<table class="table">
			<thead>
				<tr>
					<th>Id</th>
					<th>Nom du public</th>
					<th>actions</th>
				</tr>
			</thead>
			<tbody>
				{% for population in populations %}
					<tr>
						<td>{{ population.id }}</td>
						<td>{{ population.populationName }}</td>
						<td>
							<a href="{{ path('admin_populations_show', {'id': population.id}) }}">Voir</a>
							<a href="{{ path('admin_populations_edit', {'id': population.id}) }}">Modifier</a>
						</td>
					</tr>
				{% else %}
					<tr>
						<td colspan="3">no records found</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>

	</div>
{% endblock %}
