{% extends 'admin.html.twig' %}

{% block title %}Public
{% endblock %}

{% block body %}
<div class="administration">
	<fieldset class="container">
		<h1>Public</h1>

		<table class="table">
			<tbody>
				<tr>
					<th>Id</th>
					<td>{{ population.id }}</td>
				</tr>
				<tr>
					<th>Nom du public</th>
					<td>{{ population.populationName }}</td>
				</tr>
			</tbody>
		</table>

		<a href="{{ path('admin_populations_index') }}">Revenir à la liste</a>

		<a href="{{ path('admin_populations_edit', {'id': population.id}) }}">Modifier</a>

		{{ include('admin/populations/_delete_form.html.twig') }}
	</fieldset>
</div>
{% endblock %}
