{# {% extends 'base.html.twig' %} #}
<!DOCTYPE html>
<html>

	<head>
		<meta
		charset="UTF-8">
		<!--Style-->
		<link
		rel="stylesheet" href="{{asset('style/style.css')}}">
		<!--icone-->
		<script src="https://kit.fontawesome.com/4d2daebcf2.js" crossorigin="anonymous"></script>
		<!-- Jquery -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<!--JavaScript-->
		<script src="{{asset('js/script.js')}}" defer></script>
		<script src="{{ asset('js/images.js') }}" defer></script>
		<!--Import Google Icon Font-->
		<link
		href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<!--Import materialize.css-->
		<link rel="stylesheet" href="{{asset('style/materialize.css')}}" type="text/css" media="screen,projection">


		<!--Let browser know website is optimized for mobile-->
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/> {% block title %}{% endblock %}

		{% block body %}
			<div class="login">
				<div class="login_user register">
					<div class="logo_login">
						<img src="{{asset("uploads/Logo-AMIMO-62285fcb0ff53.jpg")}}" alt="">
					</div>
					<div class="form">
						<h1>Nouvel adhérent</h1>

						{{ form_start(registrationForm) }}
						<div class="input-field">
							{{ form_label(registrationForm.lastname) }}
							{{ form_widget(registrationForm.lastname) }}
						</div>
						<div class="input-field">
							{{ form_label(registrationForm.firstname) }}
							{{ form_widget(registrationForm.firstname) }}
						</div>
						<div class="input-field">
							{{ form_label(registrationForm.address) }}
							{{ form_widget(registrationForm.address) }}
						</div>
						<div class="input-field">
							{{ form_label(registrationForm.city) }}
							{{ form_widget(registrationForm.city) }}
						</div>
						<div class="input-field">
							{{ form_label(registrationForm.email) }}
							{{ form_widget(registrationForm.email) }}
						</div>
						<div class="input-field">
							{{ form_label(registrationForm.plainPassword) }}
							{{ form_widget(registrationForm.plainPassword) }}
							{{ form_errors(registrationForm.plainPassword) }}

						</div>
						<div class="button">
							<button type="submit" class="btn">Enregistrer</button>
							<a href="{{path('home')}}">
								<but class="btn">Retour au site</but>
							</a>
						</div>
						{{ form_end(registrationForm) }}
					</div>
				</div>
			</div>
		{% endblock %}
		<script src="{{asset('js/js/materialize.js')}}"></script>
	</head>
</html>
