{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block body %}
<img class="img_nav" src="{{asset("uploads/pictures/hand.jpg")}}" alt="un_chien_et_une_femme">
<section class="citation">
<h2>“On ne voit bien qu’avec le coeur. L’essentiel est invisible pour les yeux.”</h2>
</section>

{% endblock %}
<div class="input-field">
	{{ form_label(form.lastname) }}
	{{ form_widget(form.lastname) }}
</div>
<div class="input-field">
	{{ form_label(form.firstname) }}
	{{ form_widget(form.firstname) }}
</div>
<div class="input-field">
	{{ form_label(form.address) }}
	{{ form_widget(form.address) }}
</div>
<div class="input-field">
	{{ form_label(form.city) }}
	{{ form_widget(form.city) }}
</div>
<div class="input-field">
	{{ form_label(form.email) }}
	{{ form_widget(form.email) }}
</div>
<div class="input-field">
	{{ form_row(form.birthday_date) }}
</div>
<div class="input-field">
    
    {{ form_row(form.picture) }}
</div>
<div class="input-field">
	{{ form_row(form.presentation) }}
</div>
<div class="input-field">
	{{ form_row(form.roles) }}
</div> 