{% extends 'base1.html.twig' %}

{% block title %}Fiche création{% endblock %}

{% block body %}
<main>
    <div class="tool">
        <div class="container">
            <h1>Fiche création</h1>
            <div class="row card_theme">
                {% for tool in tools %}
                {% if tool.toolitem == 'creation' %}

                <div class="col l3">
                    <div class="card">
                        <div class="card-image waves-effect waves-block waves-light">

                            {% for image in tool.picturesTools %}
                            <img src="{{ asset('/uploads/'~image.picturetoolname) }}" alt="" width="50">
                            {% else %}
                            <img src="{{asset('uploads/patte_chien.jpg')}}" alt="" width="50px" height="100%">
                            {% endfor %}
                        </div>
                        <div class="card-content">
                            <span class="card-title activator grey-text text-darken-4">{{ tool.toolTitle }}<i class="material-icons right">more_vert</i></span>
                            <p>Type de fiche:
                                {# {{ tool.categorytool.toolcategoryname }} #}
                            </p>
                        </div>
                        <div class="card-reveal">
                            <span class="card-title grey-text text-darken-4">{{ tool.toolTitle }}<i
                                    class="material-icons right">close</i></span>
                            <p>Mon ou mes partenaires:
                                {% for animals in tool.animalcategory %}
                                {{ animals.animalcategoryname }}
                                -
                                {% endfor %}
                            </p>
                            <p>Public visé:
                                {% for publictype in tool.populationtype %}
                                {{ publictype.populationtypename }}
                                -
                                {% endfor %}
                            </p>
                        </div>
                        <div class="card-action">
                            <a href="{{ path('tools_session_data', {'id': tool.id}) }}">
                                <p>Voir la fiche</p>
                            </a>
                        </div>
                    </div>
                </div>
                {% endif %}
                {% endfor %}

            </div>
        </div>
    </div>
</main>
{% endblock %}