{% extends 'base1.html.twig' %}

{% block title %}Fiche création{% endblock %}

{% block body %}
<main>
    <div class="tool">
        <div class="container">
            <h1>Fiche création</h1>
            <div class="row card_theme">
                {% for tool in tools %}
                {% if tool.toolitem == 'creation' %}

                <div class="col l3">
                    <div class="card">
                        <div class="card-image waves-effect waves-block waves-light">

                            {% if tool.documenttool != NULL %}
                            <img src="{{ asset('/uploads/tools/'~ tool.documenttool) }}" alt="" width="50">
                            {% else %}
                            <img src="{{asset('uploads/patte_chien.jpg')}}" alt="" width="50px" height="100%">
                            {% endif %}
                        </div>
                        <div class="card-content">
                            <span class="card-title activator grey-text text-darken-4">{{ tool.toolTitle }}<i class="material-icons right">more_vert</i></span>
                            <p>Type de fiche:
                                {# {{ tool.categorytool.toolcategoryname }} #}
                            </p>
                        </div>
                        <div class="card-reveal">
                            <span class="card-title grey-text text-darken-4">{{ tool.toolTitle }}<i
                                    class="material-icons right">close</i></span>
                            <p>Mon ou mes partenaires:
                                {% set affich = null %}
                                {% for animals in tool.animalcategory %}
                                {% if affich is null %}
                                    {% set affich = animals.animalcategoryname %}  
                                {% else %}
                                    {% set affich = affich ~ " / " ~ animals.animalcategoryname %}
                                {% endif %}
                                {% endfor %}
                            <p>{{ affich }}</p>
                            </p>
                            <p>Public visé:
                                {% set affich = null %}
                                {% for publictype in tool.populationtype %}
                                {% if affich is null %}
                                    {% set affich = publictype.populationtypename %}
                                {% else %}
                                    {% set affich = affich ~ " / " ~ publictype.populationtypename %}
                                {% endif %}
                                {% endfor %}
                            <p>{{ affich }}</p>
                            </p>
                        </div>
                        <div class="card-action">
                            <a href="{{ path('tools_creation_data', {'id': tool.id}) }}">
                                <p>Voir la fiche</p>
                            </a>
                        </div>
                    </div>
                </div>
                {% endif %}
                {% endfor %}

            </div>
        </div>
        <div class="pagination">
        {% do tools.setPageRange(3) %}
        {{knp_pagination_render(tools, 'admin/pagination.html.twig')}}
        </div>
    </div>
</main>
{% endblock %}