{% extends 'base1.html.twig' %}

{% block title %}Fiche séance{% endblock %}

{% block body %}
<main>
    <div class="tool">
        <div class="container">
            <h1>Fiche séance</h1>
            {% for tool in tools %}
            <fielset>
                <h2>{{ tool.toolTitle }}</h2>
                <div class="divider"></div>
                <div class="row">
                    <div class="col s3">
                        <h5>Type de séance:</h5>
                    </div>
                    <div class=" col s4">
                        {{ tool.categorytool.toolcategoryname }}
                    </div>
                    <div class="col s4">
                        {{ tool.sizegroup }}
                    </div>
                </div>
                <div class="divider"></div>
                <div class="row">
                    <div class="col s3">
                        <h5>Public ciblé:</h5>
                    </div>
                    <div class="col s3">
                        {% for publictype in tool.populationtype %}
                        {{ publictype.populationtypename }} -
                        {% endfor %}
                    </div>
                    <div class="col s5">
                        {% for public in tool.populations %}
                        {{ public.populationname }} -
                        {% endfor %}
                    </div>
                </div>
                <div class="divider"></div>
                <h5>Déroulé de la séance</h5>
                <div class="row">
                    <div class="col s12">
                        <h5>1er contact</h5>
                        {{ tool.toolcontent|raw }}
                    </div>
                    <div class="col s12">
                        <h5>Plein contact</h5>
                        {{ tool.toolcontent2|raw }}
                    </div>
                    <div class="col s12">
                        <h5>Séparation</h5>
                        {{ tool.toolcontent3|raw }}
                    </div>
                </div>
                <div class="col s12">
                    {% for image in tool.picturesTools %}

                    <img src="{{ asset('/uploads/tools/'~image.picturetoolname) }}" alt="" width="150">
                    {% endfor %}
                </div>
                <div class="divider"></div>
                <div class="row">
                    <div class="col s4">
                        <h6>Auteur</h6>
                        {{ tool.toolAuthor }}
                    </div>
                    <div class="col s4">
                        <h6>Date de publication</h6>
                        {{ tool.toolPublicationDate|date('Y-m-d') }}
                    </div>
                    <div class="col s4"><a href="{{ path('tools_session_data', {'id': tool.id }) }}">
                            <div class="btn green lighten-3">Télécharger le doc</div>
                        </a>
                    </div>
                </div>

            </fielset>
            {% endfor %}
        </div>

        <div class="confirm1">
            <a href="{{ path('home') }}">
                <div class="btn blue-grey return"><img src="{{ asset('/uploads/icone/fleche_retour.png') }}"
                        alt="fleche retour"></div>
            </a>
        </div>

    </div>
</main>
{% endblock %}