{% extends 'admin.html.twig' %}

{% block title %}Les Catégories d'outils
{% endblock %}

{% block body %}
	<div class="container">
		<h1>Les Catégories d'outils</h1>

		<a href="{{ path('admin_tool_categories_new') }}">Nouvelle catégorie</a>
		<table class="table">
			<thead>
				<tr>
					<th>Id</th>
					<th>Nom de la catégorie</th>
					<th>actions</th>
				</tr>
			</thead>
			<tbody>
				{% for tool_category in tool_categories %}
					<tr>
						<td>{{ tool_category.id }}</td>
						<td>{{ tool_category.toolCategoryName }}</td>
						<td>
							<a href="{{ path('admin_tool_categories_show', {'id': tool_category.id}) }}">voir</a>
							<a href="{{ path('admin_tool_categories_edit', {'id': tool_category.id}) }}">modifier</a>
						</td>
					</tr>
				{% else %}
					<tr>
						<td colspan="3">no records found</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>

	</div>
{% endblock %}
