{{ form_start(form) }}
<div class="input-field">
	{{ form_label(form.animal_name) }}
	{{ form_widget(form.animal_name) }}
</div>
<div class="input-field">
	{{ form_row(form.animal_content) }}
	{# {{ form_widget(form.animal_content) }} #}
</div>
<div class="input-field">
	{{ form_row(form.animal_category) }}
</div>
<div class="file-field input-field">
	<div class="btn">
	{{ form_label(form.animal_picture) }}
	{{ form_widget(form.animal_picture) }}
	
	</div>
	<div class="file-path-wrapper">
		<input class="file-path validate" type="text" placeholder="Upload file"/>
	</div>
</div>

<div class="confirm_select">
<a href="{{ path('admin_animals_index') }}"><p>Retour à la liste</p><div class="btn blue-grey return"><img src="{{ asset('/uploads/icone/fleche_retour.png') }}" alt="fleche retour"></div></a>
<a href=""><p>Enregistrer les modifications</p><button class="btn"><img src="{{ asset('/uploads/icone/save1.png') }}" alt=""></button></a>
{{ form_end(form) }}
