{{ form_start(form) }}
<div class="input-field">
	{{ form_label(form.animal_name) }}
	{{ form_widget(form.animal_name) }}
</div>
<div class="input-field">
	{{ form_row(form.animal_content) }}
	{# {{ form_widget(form.animal_content) }} #}
</div>
<div class="input-field">
	{{ form_row(form.animal_category) }}
</div>
<div class="file-field input-field">
	<div class="btn">
		
	
	</div>
	<div class="file-path-wrapper">
		<input class="file-path validate" type="text" placeholder="Upload file"/>
	</div>
</div>
<button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
