{% extends 'admin.html.twig' %}

{% block title %}Animals index{% endblock %}

{% block body %}
<div class="container">
    <h1>Nos animaux</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Photo</th>
                <th>Présentation</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for animal in animals %}
            <tr>
                <td>{{ animal.id }}</td>
                <td>{{ animal.animalName }}</td>
                <td>{{ animal.animalPicture }}</td>
                <td>{{ animal.animalContent|raw }}</td>
                <td>
                    <a href="{{ path('admin_animals_show', {'id': animal.id}) }}">Voir</a>
                    <a href="{{ path('admin_animals_edit', {'id': animal.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('admin_animals_new') }}">Un nouveau animal</a>
</div>
{% endblock %}
