{{ form_start(form) }}
<div class="input-field">
	{{ form_label(form.lastname) }}
	{{ form_widget(form.lastname) }}
</div>
<div class="input-field">
	{{ form_label(form.firstname) }}
	{{ form_widget(form.firstname) }}
</div>
<div class="input-field">
	{{ form_label(form.address) }}
	{{ form_widget(form.address) }}
</div>
<div class="input-field">
	{{ form_label(form.city) }}
	{{ form_widget(form.city) }}
</div>
<div class="input-field">
	{{ form_label(form.email) }}
	{{ form_widget(form.email) }}
</div>
<div class="input-field">
	{{ form_row(form.birthday_date) }}
</div>
<div class="file-field input-field">
	<div class="btn">
		{{ form_label(form.picture) }}
		{{ form_widget(form.picture) }}
	</div>
	<div class="file-path-wrapper">
		<input class="file-path validate" type="text" placeholder="Upload file"/>
	</div>
</div>
{# Si la route est "annonces_edit on affiche les images #}
{% if app.request.attributes.get('_route') == 'admin_users_edit' %}
	<h2>Images</h2>
	{# {% for image in users.picture %} #}
		<div>
			<img
			src="{{ asset('/uploads/users/'~user.picture) }}" alt="" width="150">

			{# On ajoute un lien permettant de supprimer une image (sera géré en Ajax) #}
		<a href="{{ path('admin_users_delete_image')}}" data-delete data-token="{{ csrf_token('delete' ~ user.picture) }}">Supprimer</a>
		</div>
	{# {% endfor %} #}
{% endif %}
<div class="input-field">
	{{ form_row(form.presentation) }}
</div>
<div class="input-field">
	{{ form_row(form.roles) }}
</div> 
<div class="confirm_select">
<a href="{{ path('admin_users_index') }}"><p>Retour à la liste</p><button class="btn blue-grey return"><img src="{{ asset('/uploads/icone/fleche_retour.png') }}" alt="fleche retour"></button></a>

<a href=""><p>Enregistrer les modifications</p><button class="btn teal lighten-1"><img src="{{ asset('/uploads/icone/save1.png') }}" alt=""></button></a>

{# <button class="btn">{{ button_label|default('Enregistrer') }}</button> #}
{{ form_end(form) }} 
