{% extends 'admin.html.twig' %}

{% block title %}Users index
{% endblock %}

{% block body %}
<div class="administration">
	<fieldset class="container">
		<h1>Les adhérents</h1>

		<table class="responsive-table striped highlight">
			<thead>
				<tr>
					<th>Email</th>
					<th>Roles</th>
					<th>Nom de famille</th>
					<th>Prénom</th>
					<th>Ville</th>
					{# <th>Photo</th> #}
					<th>actions</th>
				</tr>
			</thead>
			<tbody>
				{% for user in users %}
					<tr>
						<td>{{ user.email }}</td>
						<td>{{ user.roles ? user.roles|json_encode : '' }}</td>
						<td>{{ user.lastname }}</td>
						<td>{{ user.firstname }}</td>
						<td>{{ user.city }}</td>
						{# <td>
							<img src="{{ asset('/uploads/users/'~user.picture) }}" alt="" width="150">
						</td> #}
						<td class="confirm">
							<a href="{{ path('admin_users_show', {'id': user.id}) }}"><button class="btn light-blue lighten-4"><i class="far fa-eye"></i></button></a>
							<a href="{{ path('admin_users_edit', {'id': user.id}) }}"><button class="btn teal lighten-1"><i class="fas fa-edit"></i></button></a>
							{{ include('admin/users/_delete_form.html.twig') }}
						</td>
					</tr>
				{% else %}
					<tr>
						<td colspan="12">no records found</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</fieldset>
</div>
{% endblock %}
