{% extends 'admin.html.twig' %}

{% block title %}Les outils
{% endblock %}

{% block body %}
	<div class="container">
		<h1>Les outils</h1>

		<a href="{{ path('admin_tools_new') }}">Nouvel outil</a>
		<table class="table">
			<thead>
				<tr>
					<th>Id</th>
					<th>Titre</th>
					<th>Contenu</th>
					<th>Photo(s)</th>
					<th>Date de publication</th>
					<th>Auteur</th>
					<th>actions</th>
				</tr>
			</thead>
			<tbody>
				{% for tool in tools %}
					<tr>
						<td>{{ tool.id }}</td>
						<td>{{ tool.toolTitle }}</td>
						<td>{{ tool.toolContent }}</td>
						<td>{{ tool.toolPicture }}</td>
						<td>{{ tool.toolPublicationDate ? tool.toolPublicationDate|date('Y-m-d') : '' }}</td>
						<td>{{ tool.toolAuthor }}</td>
						<td>
							<a href="{{ path('admin_tools_show', {'id': tool.id}) }}">Voir</a>
							<a href="{{ path('admin_tools_edit', {'id': tool.id}) }}">Modifier</a>
						</td>
					</tr>
				{% else %}
					<tr>
						<td colspan="7">no records found</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>

	</div>
{% endblock %}
