{% extends 'admin.html.twig' %}

{% block title %}Ariticles du Blog
{% endblock %}

{% block body %}
	<div class="container">
		<h1>Articles du blog</h1>

		<a href="{{ path('admin_blogs_new') }}">Créer un nouvel article</a>
		<table class="table">
			<thead>
				<tr>
					<th>Id</th>
					<th>Titre</th>
					<th>Sous-titre</th>
					<th>Contenu</th>
					<th>Auteur</th>
					<th>Date de publication</th>
					<th>actions</th>
				</tr>
			</thead>
			<tbody>
				{% for blog in blogs %}
					<tr>
						<td>{{ blog.id }}</td>
						<td>{{ blog.blogTitle }}</td>
						<td>{{ blog.blogSubtitle }}</td>
						<td>{{ blog.blogContent|raw }}</td>
						<td>{{ blog.blogAuthor }}</td>
						<td>{{ blog.blogPublicationDate ? blog.blogPublicationDate|date('Y-m-d') : '' }}</td>
						<td>
							<a href="{{ path('admin_blogs_show', {'id': blog.id}) }}">Voir</a>
							<a href="{{ path('admin_blogs_edit', {'id': blog.id}) }}">Modifier</a>
						</td>
					</tr>
				{% else %}
					<tr>
						<td colspan="7">no records found</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>

	</div>
{% endblock %}
