{% extends 'base1.html.twig' %}

{% block title %}L'équipe
{% endblock %}

{% block body %}

<div class="asso">
	<div class="team_humans">
	
			{% for user in users %}
			<div class="row humans">
				<div class="col s1 picture"><img src="{{ asset('/uploads/users/'~ user.picture) }}" alt="" width="150">
					<p>{{user.firstname}}</p>
					<p>{{user.lastname}}</p>
				</div>
				<div class="col s8 box">
					<div class="about">
						<p>{{user.presentation|raw}}</p>
					</div>
					<div class="picture">

					</div>
				</div>
			</div>
			{% endfor %}
	</div>
	<div class="container team_animals">
		{% for animal in animals %}
		<div class="animals">
			<img src="{{ asset('/uploads/animals/'~ animal.animalpicture) }}" alt="" width="150">
			<p>{{animal.animalcontent|raw}}</p>
		</div>
		{% endfor %}
	</div>

</div>

{% endblock %}