{{ form_start(form) }}
<div class="input-field">
	{{ form_label(form.association_name) }}
	{{ form_widget(form.association_name) }}
</div>
<div class="input-field">
	{{ form_label(form.association_address) }}
	{{ form_widget(form.association_address) }}
</div>
<div class="file-field input-field">
	<div class="btn">
	{{ form_label(form.association_logo) }}	
	{{ form_widget(form.association_logo) }}	
	
	</div>
	<div class="file-path-wrapper">
		<input class="file-path validate" type="text" placeholder="Upload file"/>
	</div>
</div>
<div class="input-field">
	{{ form_label(form.association_city) }}
	{{ form_widget(form.association_city) }}
</div>
<div class="input-field">
	{{ form_label(form.association_mail) }}
	{{ form_widget(form.association_mail) }}
</div>
<div class="input-field">
	{{ form_label(form.association_phone) }}
	{{ form_widget(form.association_phone) }}
</div>
<div class="input-field">
	{{ form_row(form.association_content) }}
</div>
<div class="input-field">
	{{ form_row(form.association_statut) }}
</div>
<div class="input-field">
	{{ form_row(form.associations_RGPD) }}
</div>
<div class="input-field">
	{{ form_row(form.association_mentions_legales) }}
</div>
<div class="file-field input-field">
	<div class="btn">
		{{ form_label(form.picturesAssociations) }}
		{{ form_widget(form.picturesAssociations) }}
	</div>
	<div class="file-path-wrapper">
		<input class="file-path validate" type="text" placeholder="Upload file"/>
	</div>
</div>
{# Si la route est "annonces_edit on affiche les images #}
{% if app.request.attributes.get('_route') == 'admin_associations_edit' %}
	<h2>Images</h2>
		<div class="raw">
		{% for image in association.picturesAssociations %}
		<div class="col s2">
			<img
			src="{{ asset('/uploads/asso/' ~ image.pictureassociationname) }}" alt="" width="150">

			{# On ajoute un lien permettant de supprimer une image (sera géré en Ajax) #}
			<a href="{{ path('admin_associations_delete_image', {id: image.id})}}" data-delete data-token="{{ csrf_token('delete' ~ image.id )}}">Supprimer</a>
		</div>
	{% endfor %}
	</div>
{% endif %}
<div class="confirm_select">
<a href="{{ path('admin_associations_index') }}"><p>Retour à la liste</p><div class="btn blue-grey return"><img src="{{ asset('/uploads/icone/fleche_retour.png') }}" alt="fleche retour"></div></a>
<a href=""><p>Enregistrer les modifications</p><button class="btn teal lighten-1"><img src="{{ asset('/uploads/icone/save1.png') }}" alt=""></button></a>
	{{ form_end(form) }}
