{% extends 'admin.html.twig' %}

{% block title %}Associations index
{% endblock %}

{% block body %}
	<div class="container">
		<h1>Notre association</h1>

		<table class="table">
			<thead>
				<tr>
					<th>Id</th>
					<th>Nom</th>
					<th>Adresse</th>
					<th>Ville</th>
					<th>Mail</th>
					<th>Téléphone</th>
					<th>Présentation</th>
					<th>actions</th>
				</tr>
			</thead>
			<tbody>
				{% for association in associations %}
					<tr>
						<td>{{ association.id }}</td>
						<td>{{ association.associationName }}</td>
						<td>{{ association.associationAddress }}</td>
						<td>{{ association.associationCity }}</td>
						<td>{{ association.associationMail }}</td>
						<td>{{ association.associationPhone }}</td>
						<td>{{ association.associationContent|raw }}</td>
						<td>
							<a href="{{ path('admin_associations_show', {'id': association.id}) }}"><button class="btn  blue-grey darken-1"><i class="fas fa-eye"></i></button></a>
							<a href="{{ path('admin_associations_edit', {'id': association.id}) }}"><button class="btn teal lighten-1"><i class="fas fa-edit"></i></button></a>
						</td>
					</tr>
				{% else %}
					<tr>
						<td colspan="8">no records found</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>

		<a href="{{ path('admin_associations_new') }}">Nouvelle association</a>
	</div>
{% endblock %}
