{% extends 'admin.html.twig' %}

{% block title %}Associations
{% endblock %}

{% block body %}
<div class="administration">
	<fieldset class="container">
		<h1>Associations</h1>

		<table class="table">
			<tbody>
				<tr>
					<th>Id</th>
					<td>{{ association.id }}</td>
				</tr>
				<tr>
					<th>Nom</th>
					<td>{{ association.associationName }}</td>
				</tr>
				<tr>
					<th>Adresse</th>
					<td>{{ association.associationAddress }}</td>
				</tr>
				<tr>
					<th>Ville</th>
					<td>{{ association.associationCity }}</td>
				</tr>
				<tr>
					<th>Mail</th>
					<td>{{ association.associationMail }}</td>
				</tr>
				<tr>
					<th>Téléphone</th>
					<td>{{ association.associationPhone }}</td>
				</tr>
				<tr>
					<th>Photo(s)</th>
					<td>
						{% for image in association.picturesAssociations %}
							<div>
								<img
								src="{{ asset('/uploads/'~image.pictureassociationname) }}" alt="" width="150">
							</div>
						{% endfor %}
					</td>
				</tr>
				<tr>
					<th>Présentation</th>
					<td>{{ association.associationContent|raw }}</td>
				</tr>
			</tbody>
		</table>
		<div class="confirm_select">

		<a href="{{ path('admin_associations_index') }}"><p>Retour à la liste</p><button class="btn blue-grey return"><img src="{{ asset('/uploads/icone/fleche_retour.png') }}" alt="fleche retour"></button></a>

		<a href="{{ path('admin_associations_edit', {'id': association.id}) }}"><p>Modification</p><button class="btn teal lighten-1"><i class="fas fa-edit"></i></button></a>

		{{ include('admin/associations/_delete_form.html.twig') }}
	</fieldset>
</div>
{% endblock %}
