<!DOCTYPE html>
<html lang="fr">

<head>
	<meta charset="UTF-8">
	<!--Style-->
	<link rel="stylesheet" href="{{asset('style/style.css')}}">
	<!--icone-->
	<script src="https://kit.fontawesome.com/f005db1984.js" crossorigin="anonymous"></script>
	<!--favicone-->
	<link rel="shortcut icon" type="image/x-icon" href="{{asset('uploads/Logo-AMIMO-62285fcb0ff53.jpg')}}" />
	<!-- Jquery -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<!--JavaScript-->
	<script src="{{asset('js/script.js')}}" defer></script>
	<script src="{{ asset('js/images.js') }}" defer></script>
	<script src="{{asset('js/filters.js')}}" defer></script>
	<!--Import Google Font-->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=family=Josefin+Slab:wght@600&family=Roboto:ital,wght@0,400;1,100&display=swap" rel="stylesheet">
	<!--Import Google Icon Font-->
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

	<!--Import materialize.css-->
	<link rel="stylesheet" href="{{asset('style/materialize.css')}}" type="text/css" >


	<!--Let browser know website is optimized for mobile-->
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<meta name="description" content="Le site Amimo est un site de partage d'outils sur la médiation animale, découverte de cette pratique où l'animale est au coeur de la relation."/>
	<script src="{{asset('tarteaucitron/tarteaucitron.js')}}"></script>

	<script type="text/javascript">
		tarteaucitron.init({
			"privacyUrl": "", /* Privacy policy url */

			"hashtag": "#tarteaucitron", /* Open the panel with this hashtag */
			"cookieName": "tarteaucitron", /* Cookie name */

			"orientation": "bottom", /* Banner position (top - bottom) */

			"groupServices": false, /* Group services by category */

			"showAlertSmall": false, /* Show the small banner on bottom right */
			"cookieslist": true, /* Show the cookie list */

			"closePopup": false, /* Show a close X on the banner */

			"showIcon": false, /* Show cookie icon to manage cookies */
			//"iconSrc": "", /* Optionnal: URL or base64 encoded image */
			"iconPosition": "BottomRight", /* BottomRight, BottomLeft, TopRight and TopLeft */

			"adblocker": false, /* Show a Warning if an adblocker is detected */

			"DenyAllCta": true, /* Show the deny all button */
			"AcceptAllCta": true, /* Show the accept all button when highPrivacy on */
			"highPrivacy": true, /* HIGHLY RECOMMANDED Disable auto consent */

			"handleBrowserDNTRequest": false, /* If Do Not Track == 1, disallow all */

			"removeCredit": false, /* Remove credit link */
			"moreInfoLink": true, /* Show more info link */

			"useExternalCss": false, /* If false, the tarteaucitron.css file will be loaded */
			"useExternalJs": false, /* If false, the tarteaucitron.js file will be loaded */

			//"cookieDomain": ".my-multisite-domaine.fr", /* Shared cookie for multisite */

			"readmoreLink": "", /* Change the default readmore link */

			"mandatory": true, /* Show a message about mandatory cookies */
		});
	</script>
	<!-- Google Analytic -->

	<script src="https://www.google.com/recaptcha/api.js?render=6LeQ740fAAAAAFIA5VCeb2kgjulT8OcNJmaRj31M"></script>

	<script>

	function onClick(e) {

	e.preventDefault();

	grecaptcha.ready(function() {

	grecaptcha.execute('6LeQ740fAAAAAFIA5VCeb2kgjulT8OcNJmaRj31M', {action: 'submit'}).then(function(token) {

	console.log('captacha');

	});

	});

	}

	</script>

	<title>
		{% block title %}Site Amimo
		{% endblock %}
	</title>
	<!-- Global site tag (gtag.js) - Google Analytics -->

	<script async src="https://www.googletagmanager.com/gtag/js?id=G-959E3NLWHP"></script>

	<script>

  	window.dataLayer = window.dataLayer || [];

  	function gtag(){dataLayer.push(arguments);}

  	gtag('js', new Date());

  	gtag('config', 'G-959E3NLWHP');

	</script>


</head>

<body class="base">
	<div class="picture_menu">
		<div class="icone">
			{% if app.user %}
			{% else %}
			<a href="{{ path('app_login') }}">
				<i class="fas fa-user"></i>
				<div class="title">S'incrire ou s'identifier</div>
			</a>
			{% endif %}
		</div>
		<div class="picture">
			<img class="img_nav" src="{{asset('uploads/pictures/helena1.jpg')}}" alt="un_chien_et_une_femme"
				id="presentation_picture">
		</div>
	</div>

	<ul id="dropdown1" class="dropdown-content top">
		<li>
			<a href="{{ path('mediation_history') }}">Un peu d'histoire</a>
		</li>
		<li>
			<a href="{{ path('mediation') }}">C'est quoi?</a>
		</li>
		<li>
			<a href="#!">Chartre des bonnes pratiques</a>
		</li>
	</ul>
	<ul id="dropdown2" class="dropdown-content">
		<li>
			<a href="{{ path('mediation_history') }}">Un peu d'histoire</a>
		</li>
		<li>
			<a href="{{ path('mediation') }}">C'est quoi?</a>
		</li>
		<li>
			<a href="#!">Chartre des bonnes pratiques</a>
		</li>
	</ul>
	<ul id="dropdown3" class="dropdown-content top">
		<li>
			<a href="{{ path('asso') }}">Présentation</a>
		</li>
		<li>
			<a href="{{ path('asso_team') }}">Equipe</a>
		</li>
		<li>
			<a href="{{ path('asso_statut') }}">Statuts</a>
		</li>
	</ul>
	<ul id="dropdown4" class="dropdown-content">
		<li>
			<a href="{{ path('asso') }}">Présentation</a>
		</li>
		<li>
			<a href="{{ path('asso_team') }}">Equipe</a>
		</li>
		<li>
			<a href="{{ path('asso_statut') }}">Statuts</a>
		</li>
	</ul>
	<ul id="dropdown5" class="dropdown-content top">
		<li>
			<a href="#!">Les types de séances</a>
		</li>
		<li>
			<a href="#!">Découverte dans les établissements scolaires</a>
		</li>
	</ul>
	<ul id="dropdown6" class="dropdown-content">
		<li>
			<a href="#!">Les types de séances</a>
		</li>
		<li>
			<a href="#!">Découverte dans les établissements scolaires</a>
		</li>
	</ul>
	<ul id="dropdown7" class="dropdown-content top">
		<li>
			<a href="{{path('tools_session')}}">Fiches séances</a>
		</li>
		<li>
			<a href="{{path('tools_creation')}}">Matériel création</a>
		</li>
	</ul>
	<ul id="dropdown8" class="dropdown-content">
		<li>
			<a href="{{path('tools_session')}}">Fiches séances</a>
		</li>
		<li>
			<a href="{{path('tools_creation')}}">Matériel création</a>
		</li>
	</ul>
	<ul id="dropdown9" class="dropdown-content top">
		<li>
			<a href="{{ path('member_main_index') }}">Mes infos personnelles</a>
		</li>
		<li>
			<a href="{{path('member_tools_index')}}">Mes fiches séances</a>
		</li>
		<li>
			<a href="{{path('member_tools_creation_index')}}">Mes fiches créatives</a>
		</li>
		<li class="divider"></li>
		<li>
			<a href="{{ path('app_logout') }}">Se déconnecter</a>
		</li>
	</ul>
	<ul id="dropdown10" class="dropdown-content">
		<li>
			<a href="{{ path('member_main_index') }}">Mes infos personnelles</a>
		</li>
		<li>
			<a href="{{path('member_tools_index')}}">Mes fiches séances</a>
		</li>
		<li>
			<a href="{{path('member_tools_creation_index')}}">Mes fiches créatives</a>
		</li>
		<li class="divider"></li>
		<li>
			<a href="{{ path('app_logout') }}">Se déconnecter</a>
		</li>
	</ul>
	<nav class="collapse-large">
		<div class="nav-wrapper">
			{% if app.user %}
			{% if app.user.roles["0"] == "ROLE_ADMIN" %}
			<a href="{{path('admin')}}" class="admin">Admin</a>
			{% else %}
			<a href="#" class="empty"></a>
			{% endif %}
			{% else %}
			<a href="#" class="empty"></a>
			{% endif %}
			<a href="{{ path('home') }}" class="brand-logo">
				{{ render(controller('App\\Controller\\MainController::menuhead'))}}</a>
			<a href="#" class="sidenav-trigger burger-menu" data-target="mobile-nav">
				<i class="material-icons">menu</i>
			</a>

			<ul class="menu right hide-on-med-and-down">
				<li>
					<a class="dropdown-trigger" href="#!" data-target="dropdown1">Médiation animale<i
							class="material-icons right">arrow_drop_down</i>
					</a>
				</li>
				<li>
					<a class="dropdown-trigger" href="#!" data-target="dropdown3">AMIMO<i
							class="material-icons right">arrow_drop_down</i>
					</a>
				</li>
				<li>
					<a class="dropdown-trigger" href="#!" data-target="dropdown5">Méthodes<i
							class="material-icons right">arrow_drop_down</i>
					</a>
				</li>
				<li>
					<a class="dropdown-trigger" href="#!" data-target="dropdown7">Outils<i
							class="material-icons right">arrow_drop_down</i>
					</a>
				</li>
				<li>
					<a href="#partners">Partenaires</a>
				</li>
				<li>
					<a href="{{path('asso_flyer')}}">Brochures</a>
				</li>
				<li>
					{% if app.user %}
					<a class="dropdown-trigger" href="#!" data-target="dropdown9">Mon compte<i
							class="material-icons right">arrow_drop_down</i></a>
					{% else %}
					<a href="{{path('contacts')}}">Contact</a>
					{% endif %}
				</li>
			</ul>
		</div>
	</nav>
	<ul class="sidenav" id="mobile-nav">
		<li>
			<a class="dropdown-trigger" href="#!" data-target="dropdown2">Mediation animale<i
					class="material-icons right">arrow_drop_down</i>
			</a>
		</li>
		<li>
			<a class="dropdown-trigger" href="#!" data-target="dropdown4">AMIMO<i
					class="material-icons right">arrow_drop_down</i>
			</a>
		</li>
		<li>
			<a class="dropdown-trigger" href="#!" data-target="dropdown6">Méthodes<i
					class="material-icons right">arrow_drop_down</i>
			</a>
		</li>
		<li>
			<a class="dropdown-trigger" href="#" data-target="dropdown8">Outils<i
					class="material-icons right">arrow_drop_down</i>
			</a>
		</li>
		<li>
			<a href="#partners">Partenaires</a>
		</li>
		<li>
			<a href="{{path('asso_flyer')}}">Brochures</a>
		</li>
		<li>
			{% if app.user %}
			<a class="dropdown-trigger" href="#!" data-target="dropdown10">Mon compte<i
					class="material-icons right">arrow_drop_down</i></a>
			{% else %}
			<a href="badges.html">Contact</a>
			{% endif %}
		</li>
	</ul>
</body>


{% block body %}{% endblock %}
<footer>
	<div class="row contact">
		<div class="contact1 col l12">
			<i class="fas fa-map-marker-alt"></i>
			<div class="contact2">
				<h4>Adresse</h4>
				<p>44580 Villeneuve en Retz</p>
			</div>
		</div>
		<div class="divider"></div>
		<div class="contact1 col l12">
			<i class="fa-solid fa-phone"></i>
			<div class="contact2">
				<h4>Téléphone</h4>
				<p>06 60 89 51 00</p>
			</div>
		</div>
		<div class="divider"></div>
		<div class="contact1 col l12">
			<i class="fa-solid fa-envelope"></i>
			<div class="contact2">
				<h4>Contact</h4>
				<a href="{{path('contacts')}}">Formulaire de contact</a>
			</div>
		</div>
	</div>
	<div class="partner">
		<div class="partner1">
			<h4>Nous aimons aussi...</h4>
			<ul>
				<li><a href="https://www.association-sixieme-sens.fr/" target="_blank">Sixième sens</a></li>
				<li><a href="https://www.animenvie.com/" target="_blank">Anim envie</a></li>
				<li><a href="https://www.chauve.fr/liane/" target="_blank">Association Liane</a></li>
				<li><a href="http://www.lapetitefermedheidi.fr/" target="_blank">La petite ferme heidi</a></li>
			</ul>
		</div>
		<a href="#" class="logo">
			{{ render(controller('App\\Controller\\MainController::menuhead'))}}</a>
	</div>
	<div class="copyright">
		<img src="{{asset('uploads/icone/copyright.png')}}" alt="copyright" class="img">
		Copyright 2022 Amimo. Tous droits réservés |
		<a href="{{path('mentions_legales')}}">Mentions Légales</a> | <a href="{{path('rgpd')}}">Conditions
			d'utilisation et RGPD</a>
	</div>
</footer>
<!--JavaScript at end of body for optimized loading-->
<script src="{{asset('js/js/materialize.js')}}"></script>
<script type="text/javascript">
	tarteaucitron.user.gtagUa = 'UA-XXXXXXXX-X';
	tarteaucitron.user.gtagMore = function () { /* add here your optionnal gtag() */
	};
	(tarteaucitron.job = tarteaucitron.job || []).push('gtag');
</script>
</body>


</html>