{{ form_start(form) }}
<div class="input-field">
{{ form_label(form.blog_category_name) }}
{{ form_widget(form.blog_category_name) }}
</div>
    <button class="btn">{{ button_label|default('Sauvegarder') }}</button>
{{ form_end(form) }}
