{% extends 'admin.html.twig' %}

{% block title %}BlogCategories index{% endblock %}

{% block body %}
    <h1>BlogCategories index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Blog_category_name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for blog_category in blog_categories %}
            <tr>
                <td>{{ blog_category.id }}</td>
                <td>{{ blog_category.blogCategoryName }}</td>
                <td>
                    <a href="{{ path('admin_blog_categories_show', {'id': blog_category.id}) }}">show</a>
                    <a href="{{ path('admin_blog_categories_edit', {'id': blog_category.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('admin_blog_categories_new') }}">Create new</a>
{% endblock %}
