{% extends 'admin.html.twig' %}

{% block title %}Partners index
{% endblock %}

{% block body %}
<div class="administration">
	<fieldset class="container">
		<h1>Partenaires</h1>

		<a href="{{ path('admin_partners_new') }}">Nouveau partenaire</a>
		<table class="responsive-table striped highlight">
			<thead>
				<tr>
					<th>Nom</th>
					<th>Ville</th>
					<th>Téléphone</th>
					<th>Présentation</th>
					<th>Photo</th>
					<th>Référent</th>
					<th>actions</th>
				</tr>
			</thead>
			<tbody>
				{% for partner in partners %}
					<tr>
						<td>{{ partner.partnerName }}</td>
						<td>{{ partner.partnerCity }}</td>
						<td>{{ partner.partnerPhone }}</td>
						<td>{{ partner.partnerContent|raw }}</td>
						<td><img src="{{ asset('/uploads/partners/'~partner.partnerPicture) }}" alt="" width="75"></td>
						<td>{{ partner.partnerReferent }}</td>
						<td class="confirm">
							<a href="{{ path('admin_partners_show', {'id': partner.id}) }}"><button class="btn  blue-grey darken-1"><i class="fas fa-eye"></i></button></a>
							<a href="{{ path('admin_partners_edit', {'id': partner.id}) }}"><button class="btn teal lighten-1"><i class="fas fa-edit"></i></button></a>
							{{ include('admin/partners/_delete_form.html.twig') }}
						</td>
					</tr>
				{% else %}
					<tr>
						<td colspan="11">no records found</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
		<div>
		{% do partners.setPageRange(3) %}
		{{knp_pagination_render(partners, 'admin/pagination.html.twig')}}
		</div>
	</fieldset>
</div>
{% endblock %}
